.header__logo {
  object-fit: contain;
  max-width: 142px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 720px) {
  .header__logo {
    max-width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 104px;
    left: 27px;
  }
}
