.card__like-button {
  flex-shrink: 0;
  background: url(.././../../images/card-heart-icon.svg) center no-repeat;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  transition: opacity linear .3s;
}

.card__like-button:hover {
  opacity: .5;
}
