.form__field {
  display: inline-block;
  width: 100%;
}

.form__field:last-of-type {
  margin-bottom: 11px;
}

@media screen and (max-width: 480px) {
  .form__field:last-of-type {
    margin-bottom: 8px;
  }
}
